@import url('https://fonts.googleapis.com/css?family=Hanalei|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Hanalei|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.font-hanalei {
  font-family: 'Hanalei', cursive !important;
}

.font-darker-grotesque{
  font-family: 'Darker Grotesque', sans-serif;
}

.font-indie-flower{
  font-family: 'Indie Flower', cursive;
}
