@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Hanalei|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.font-darker-grotesque{
  font-family: 'Darker Grotesque', sans-serif;
}

.font-indie-flower{
  font-family: 'Indie Flower', cursive;
}

.font-press-start-2p{
  font-family: 'Press Start 2P', cursive;
}
