@import "variables";
@import "font";
@import "common/index";

#app {
  background: linear-gradient(to right, #3a6186, #89253e);
  width: 100vw;
  height: 100vh;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--common-font-color);
  overflow: hidden;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-main {
  padding-top: var(--nav-height);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 1rem;
}
