@import "variables";
@import "cdn";
@import "common/index";


#app {
  width: 100vw;
  height: 100vh;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--common-text-color);
  overflow: hidden;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  padding: 0 calc((100vw - var(--app-main-width-max)) / 2) 0;
  scroll-behavior: smooth;

  .scroll-detector {
    height: var(--nav-height);
    width: 100%;
  }
}

.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: 0.2s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

::-webkit-scrollbar {
  width: 5px;
  height: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 1rem;
}
