header {
  background: var(--nav-background-mobile);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: var(--nav-height);

  .logo {
    margin: 0 !important;
    line-height: var(--nav-height);
    font-size: 2rem;
    text-transform: uppercase;
    top: 3px;
    position: relative;

    a {
      text-decoration: none;
      color: var(--common-font-color);
    }
  }

  #nav-toggle {
    display: none;

    &:checked ~ nav {
      transform: scale(1, 1);
    }

    &:checked ~ nav a {
      opacity: 1;
      transition: opacity 0.25s ease-in-out 0.2s;
    }
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 1.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      transform: rotate(-90deg);
      font-size: 1.6rem;
    }
  }

  nav {
    background: var(--nav-background-mobile);
    position: absolute;
    text-align: left;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.2s;

    ul {
      margin: 0;
      padding: 0 0 5px 0;
      list-style: none;

      li {
        line-height: 2.3rem;
        padding: 0 1rem;

        a {
          display: block;
          color: white;
          text-decoration: none;
          font-size: 1.1rem;
          text-transform: uppercase;
          opacity: 0;
          transition: opacity 0s;

          &:hover {
            color: var(--common-font-color);
            box-shadow: inset 0 -1px 0 rgba(255, 255, 250, 0.3);
          }
        }
      }
    }
  }
}


@media screen and (min-width: 800px) {
  header {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

    .nav-toggle-label {
      display: none;
    }

    .logo {
      grid-column: 2 / 3;
    }

    nav {
      all: unset;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ul {
        display: flex;
        justify-content: flex-end;
        padding: 0;

        li {
          all: unset;
          margin-left: 3rem;

          &:hover {
            background: none;
          }

          a {
            opacity: 1 !important;
            position: relative;

            &:hover {
              box-shadow: unset;
            }

            &::before {
              content: '';
              display: block;
              height: 5px;
              background: var(--common-font-color);
              position: absolute;
              top: -0.7rem;
              right: 0;
              left: 0;
              transform: scale(0, 1);
              transition: transform 0.2s;
            }

            &:hover::before {
              transform: scale(1, 1);
            }

          }
        }
      }

    }
  }
}
