@import "../variables.scss";

header.responsive-nav {
  background: var(--nav-background-mobile);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: var(--nav-height);

  * {
    user-select: auto;
  }

  .logo {
    margin: 0;
    line-height: var(--nav-height);
    font-size: 2rem;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: var(--common-text-color);
      top: 3px;
      font-weight: 600;
      position: relative;
    }
  }

  #nav-toggle {
    display: none;

    &:checked ~ nav {
      transform: scale(1, 1);
    }

    &:checked ~ nav {
      a {
        opacity: 1;
        transition: opacity 0.25s ease-in-out 0.2s;
      }
    }
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 1.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      transform: rotate(-90deg);
      font-size: 1.6rem;
    }
  }

  nav {
    background: var(--nav-background-mobile);
    position: absolute;
    text-align: left;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.2s;

    ul {
      margin: 0;
      padding: 0 0 5px 0;
      list-style: none;

      li {
        line-height: 2.3rem;
        margin: 0 0.5rem;
        padding: 0 0.5rem;
        border-radius: 5px;


        a {
          display: block;
          color: var(--inverse-text-color);
          text-decoration: none;
          font-size: 1.1rem;
          text-transform: uppercase;
          opacity: 0;
          transition: opacity 0s;

          &:active, &:hover {
            background: rgba(0, 0, 0, 0.1);
            color: var(--common-text-color);
          }
        }
      }
    }
  }
}

@media screen and (min-width: $thresholdWidth) {
  header.responsive-nav {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr auto minmax(calc(var(--threshold-width) - 50px), 3fr) 1fr;
    transition: 0.2s;

    &.inverse {
      background: rgba(255, 255, 255, 0.8);
      color: var(--common-text-color);

      nav {
        li {
          a {
            color: var(--common-text-color);
          }
        }
      }
    }

    .nav-toggle-label {
      display: none;
    }

    .logo {
      grid-column: 2 / 3;

      a {
        font-weight: 600;
      }
    }

    nav {
      all: unset;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ul {
        display: flex;
        justify-content: flex-end;
        padding: 0;

        li {
          all: unset;
          margin-left: 3rem;

          &:hover {
            background: none;
          }

          a {
            opacity: 1;
            position: relative;

            &:hover {
              box-shadow: unset;
            }

            &::before {
              content: "";
              display: block;
              height: 5px;
              background: var(--common-text-color);
              position: absolute;
              top: -0.7rem;
              right: 0;
              left: 0;
              transform: scale(0, 1);
              transition: transform 0.2s;
            }

            &:hover::before {
              transform: scale(1, 1);
            }
          }
        }
      }
    }
  }
}
